@import 'node_modules/formare/scss/abstracts/all';

$primary-color: #0b7fba;
$secondary-color: #81be41;
$max-color: #009b9d;
$white-color: #fff;

//Font
$font-xsmall: 0.75rem;
$font-small: 0.875rem;
$font-medium: 1.125rem;
$font-large: 1.5rem;

$color-themes: (
  primary: $primary-color,
  secondary: $secondary-color,
  max: $max-color,
);
